* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #f0f0f0;
    --foreground-color: #04030F;
    --accent-color: #f2542d;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding-right: 20px;
    background-color: var(--background-color);
}

.sidebar {
    width: 16vw;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 20px;
    /* padding-right: 20px; */
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.content-section {
    display: flex;
    flex-direction: column;
    width: 76vw;
    padding-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.sitename {
    color: var(--accent-color);
    font-size: 32px;
    font-weight: bolder;
}

.project-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-right: 2vw;
    gap: 1vh;
}

.project-form-name-field {
    /* width: max(15vw, 140px); */
    height: max(3vh, 16px);
    padding-left: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: var(--background-color);
    border-style: solid;
}

.project-form-create-button {
    width: max(6vw, 75px);
    height: max(3vh, 16px);
    background-color: transparent;
    border-style: solid;
    color: var(--background-color);
    align-self: flex-end;
}

.projects-tab-projects-section {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 1vh;
}

.projects-tab-projects-section-heading {
    font-size: 1.75rem;
    margin-bottom: 1vh;
}

.projects-tab-projects-container {
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
    font-size: 1.25rem;
}

.current-project {
    color: var(--accent-color) !important;
}

.current-project-name {
    font-size: 2rem;
    align-self: center;
    font-weight: bolder;
    color: var(--foreground-color);
    margin-bottom: 2vh;
}

.new-task-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 74vw;
    border-radius: 12px;
    gap: 2vw;
    /* padding-left: 2vw; */
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.task-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.task-form-field-container {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.task-form-field-text {
    width: 14vw;
    height: 2.5vh;
    background-color: transparent;
    color: var(--background-color);
    border-style: solid;
    border-radius: 8px;
    padding-left: 0.5vw;
}

.task-form-field-date {
    height: 2.5vh;
    width: 6.5vw;
    background-color: transparent;
    color: var(--background-color);
    border-style: solid;
    border-radius: 6px;
    padding-left: 0.5vw;
}

.task-form-field-dropdown {
    height: 2.5vh;
    width: 5vw;
    background-color: transparent;
    color: var(--background-color);
    border-style: solid;
    border-radius: 6px;
    padding-left: 0.5vw;
}

.task-form-submit-button {
    height: 2.5vh;
    width: 4vw;
    background-color: transparent;
    color: var(--background-color);
    border-style: solid;
    border-radius: 6px;
}